.card-option .counter {
    display: none;
}

.card-option.selected .counter {
    display: flex;
}

.card-option .counter span {
    margin: 0 2px;
}

.card-option .button-counter {
    width: 24px;
    text-align: center;
}

.card-option .button-counter.minus {
    color: red;
}

.card-option .button-counter.minus.disabled {
    color: gray;
}

.card-option .button-counter.plus {
    color: green;
}
