.card-option {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 174px;
    height: 200px;
    padding: 17px 15px 12px 15px;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin: 5px 15px 5px 5px;
    -webkit-tap-highlight-color: transparent;

}

.card-option > img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    font-size: 16px;
}

.card-option > strong {
    margin-top: 6px;
}

.txt-option-desc {
    font-size: 15px;
    color: #A6A6A6;
    margin-top: 10px;
    font-weight: 300;
    max-height: 30px;
    height: 30px;
    overflow: hidden;
}

.card-option:hover {
    cursor: pointer;
}

.selected {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.card-option footer {
    position: absolute;
    right: 0;
    bottom: 13px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.card-option .click-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

