:root {
    --header-height: 92px;
    --bottom-bar-height: 92px;
    --header-content-margin: 30px;
    --main-reduction: calc(var(--header-height) + var(--bottom-bar-height) + var(--header-content-margin));
    --sec-height: calc(100vh - var(--main-reduction) - 100px);
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

en {
    font-weight: bold;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
}

.txt-black {
    color: #000000;
}

.pixel {
    width: 1px;
    height: 1px;
}

.hidden {
    display: none;
}

/* DESKTOP BREAKPOINT */
@media (min-width: 1000px) {
    body {
        display: flex;
        justify-content: center;
    }
    
    .panel-confirm {
        max-width: 30%;
    }

    .btn-buy {
        max-width: 90%;
    }

    main {
        width: 100%;
        align-items: center;
    }
    
}